<!DOCTYPE html>
<html lang="ru">
<html>
  <head>
    <title>Психолог Екатеринбург</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Психолог-психоаналитик г.Екатеринбург ОНЛАЙН - по видеосвязи (мессенджеры: Scype, WhatsApp, Viber, Telegram"/>
    <meta name="keywords" content="Психолог-психоаналитик психоаналитик Екатеринбург цена отзывы  Scype WhatsApp Viber Telegram мессенджеры онлайн индивидуально помощь Психоаналитическая терапия"/>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'main' %>
    <%= javascript_pack_tag 'main' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
