<!DOCTYPE html>
<html lang="ru">
<html>
  <head>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-83N45L5RYQ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-83N45L5RYQ');
</script>
    <title>Психолог Екатеринбург</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Психолог психоаналитик г.Екатеринбург ОНЛАЙН - по видеосвязи (мессенджеры: Telegram, Scype, WhatsApp, Viber"/>
    <meta name="keywords" content="Психолог психоаналитик психолог-психоаналитик онлайн Екатеринбург цена отзывы Telegram Scype WhatsApp Viber мессенджеры индивидуально помощь психоаналитическая терапия"/>
<%#= csrf_meta_tags %>
    <%#= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'main' %>
    <%= javascript_pack_tag 'main' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
